# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
build/
.venv/
venv/
.pytest_cache/

# IDE
.idea/
.vscode/

# Tests
tests/
test-report.xml
.coverage

# Docs
*.md
LICENSE
